<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDahYt4Y7AtdWwU7D2zY5dLvhUYCVNplQ</string>
	<key>GCM_SENDER_ID</key>
	<string>424765276744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.littlebit0.daily</string>
	<key>CLIENT_ID</key>
	<string>234127810480-l6i9pnoq4hpg6as12n7g1q5h0cak39oa.apps.googleusercontent.com</string>
	<key>PROJECT_ID</key>
	<string>daily-littlebit0</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234127810480-l6i9pnoq4hpg6as12n7g1q5h0cak39oa</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-littlebit0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:424765276744:ios:a28c3867afb0cf774dce7d</string>
</dict>
</plist>
